*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p,
h1,
h2 {
  margin: 0;
}

%container {
  width: 100%;
  max-width: 1172px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 100%;
  height: 100px;
  background: rgba(16, 16, 29, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;

  &__content {
    @extend %container;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    gap: 1px;
  }

  &__logo-text {
    font-family: Raleway;
    font-weight: 800;
    font-size: 28px;
    display: flex;
    gap: 1px;

    &--white {
      color: white;
    }

    &--blue {
      color: rgb(66, 169, 237);
    }
  }

  &__nav {
    max-width: 425px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__nav-item {
    font-family: Lato;
    font-weight: 600;
    font-size: 13px;
    color: white;
    text-decoration: none;

    &--current {
      color: rgba(67, 171, 240, 1);
    }
  }
}

.main {
  display: flex;
  flex-direction: column;

  &__hero {
    position: relative;
    min-height: calc(100vh + 100px);
    margin-top: -100px;
    padding-top: 100px;
    overflow: hidden;
    display: flex;
  }

  &__img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right center;
    z-index: -1;
  }

  &__inner {
    @extend %container;
  }

  &__hero-content {
    max-width: 780px;
  }

  &__headline {
    font-family: Lato;
    font-weight: 700;
    font-size: 48px;
    color: black;
    margin-bottom: 80px;
    margin-top: 103px;

    &--highlight {
      color: rgb(62, 156, 220);
    }
  }

  &__description {
    margin-bottom: 80px;
  }

  &__description-text {
    font-family: Lato;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 0;

    &--bold {
      font-weight: 700;
      margin-bottom: 10px;
    }
  }

  &__buttons {
    display: flex;
    gap: 30px;
  }

  &__button {
    width: 183px;
    height: 43px;
    border-radius: 4px;
    font-family: Lato;
    font-size: 13px;

    &--blue {
      background: rgba(62, 156, 220, 1);
      color: white;
      border: 1px solid white;
    }

    &--white {
      background: white;
      color: rgba(42, 43, 48, 1);
      border: 1px solid rgba(42, 43, 48, 1);
    }
  }
}

.order {
  background: rgba(39, 39, 51, 1);
  margin-top: -48px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../public/world.jpg") center / cover no-repeat;
    opacity: 0.1;
    z-index: 0;
  }

  &__content {
    @extend %container;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  &__headline {
    margin-top: 121px;
    font-family: Lato;
    font-weight: 800;
    font-size: 36px;
    color: white;
    margin-bottom: 30px;

    &--highlight {
      color: rgb(62, 156, 220);
    }
  }

  &__headline-subtext {
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    color: rgba(187, 187, 187, 1);
    margin-bottom: 80px;
  }

  &__steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  &__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 209px;
  }

  &__step-img {
    width: 100px;
    height: 100px;
    background: rgba(62, 156, 220, 1);
    border-radius: 50%;
    border: 5px solid rgba(40, 102, 144, 1);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__details {
    font-family: Lato;
    font-size: 16px;
    color: white;
    text-align: center;
  }

  &__dots {
    margin-top: -70px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    margin-bottom: 150px;
  }

  &__form-inputs {
    display: flex;
    justify-content: space-between;
  }

  &__select {
    width: 370px;
    height: 48px;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid white;
    border-radius: 3px;
    padding: 12px 35px 12px 10px;
    font-family: Lato;
    font-size: 18px;
  }

  &__input {
    width: 370px;
    height: 48px;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid white;
    border-radius: 3px;
    padding: 12px 35px 12px 10px;
    font-family: Lato;
    font-size: 18px;

    &::placeholder {
      font-family: Lato;
      color: rgba(39, 39, 51, 1);
      font-size: 18px;
    }
  }

  &__range-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    margin-right: 22.5px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__range-text {
    font-family: Lato;
    font-size: 18px;
    color: white;
  }

  &__range {
    width: 100%;
    accent-color: rgba(62, 156, 220, 1);
    appearance: none;
    border-radius: 2px;
    border: 1px solid white;
    height: 6px;
    background-color: rgb(190, 190, 193);
  }

  &__button {
    width: 370px;
    height: 48px;
    border-radius: 3px;
    font-family: Lato;
    font-weight: 600;
    font-size: 15px;

    &--file {
      background: white;
      border: 2px solid rgba(62, 156, 220, 1);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    &--send {
      background: rgba(62, 156, 220, 1);
      border: 1px solid rgba(255, 255, 255, 1);
      color: white;
      align-self: center;
    }
  }
}

.footer {
  height: 80px;
  background-color: rgb(61, 64, 80);
  display: flex;
  align-items: center;

  &__container {
    @extend %container;
    display: flex;
    justify-content: space-between;
  }

  &__text {
    font-family: Lato;
    font-weight: 400;
    font-size: 13px;
    color: white;
    text-decoration: none;

    &--sub {
      color: rgba(195, 195, 195, 1);
    }
  }

  &__entry {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
