body {
  margin: 0;
}

.header {
  width: 100%;
  height: 100px;
  background: rgba(16, 16, 29, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;

  &__hero {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &__content {
    max-width: 1172px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-family: Raleway;
    font-weight: 800;
    font-size: 28px;
    display: flex;
    gap: 1px;

    &--white {
      color: white;
    }

    &--blue {
      color: rgb(66, 169, 237);
    }
  }

  &__nav {
    max-width: 425px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__nav-item {
    font-family: Lato;
    font-weight: 600;
    font-size: 13px;
    color: white;
    text-decoration: none;

    &--current {
      color: rgba(67, 171, 240, 1);
    }
  }
}
